<div class="container">
    <form action="">


<label for="exampleDataList" class="form-label">Datalist example</label>
<input type="text" name="fullname">
<input type="text" name="age">
<input name="q" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    <button type="submit">tim kiem</button>
    </form>

</div>
